*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.main-content{
    display:flex;
    width: 100%;
    padding:0;
      margin:0;
}
main{
    height: 100%;
    width: 100%;
    padding: 20px;
    z-index: 0;
}
.save-btn{
    float: right;
}
.mr-p{
    margin-right: 20px;
}
.limit-div{
    height: 90vh;
    overflow-y: scroll;
}
.sidebar{
    background: #ddf;
    color: #333;
    height: 100vh;
    transition: all 0.5s;
    z-index: 100;
}
.img_logo{
    width: 130px;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 0px;
}
.link{
    display: flex;
    color: #333;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none;
}
.card{
    width: 300px;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.main_container{
    width: 100%;
}
.titulo-head{
   text-align: center;
   color: #f5f5f5;
    background-color: #20a7ff;
}
.icon, .link_text{
    font-size: 20px;
    text-decoration: none;
}
@media only screen and (max-width: 960px){
    main{
        position: absolute;
        width: 95%;
        margin-left: 40px;
    }
    .cards-responsive, .btn-new{
        text-align: center;
    }
}