*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
}
main{
    width: calc(100%-50px);
    padding: 20px;
    z-index: 0;
    
}
.sidebar{
    background: #ddf;
    color: #333;
    height: 100vh;
    width: 100px;
    transition: all 0.5s;
    z-index: 100;
}
.img_logo{
    width: 130px;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 0px;
}
.link{
    display: flex;
    color: #333;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}
@media only screen and (max-width: 960px){
    main{
        position: absolute;
        margin-left: 50px;
    }
}